@inherits Umbraco.Web.Mvc.UmbracoViewPage<IBase>
@{
    Layout = "Master.cshtml";
}
<section class="hero">
    <img class="lazy-load"
         data-sizes="auto"
         data-srcset="@Url.GetCropUrl(Model, "heroImage", "Mobile") 322w,
        @Url.GetCropUrl(Model, "heroImage", "Desktop") 800w,
        @Url.GetCropUrl(Model, "heroImage", "XL Desktop") 1920w,
        @Url.GetCropUrl(Model, "heroImage", "Large Desktop") 3840w"
         src="@Url.GetCropUrl(Model, "heroImage", "Desktop") 1920w"/>


        @*<img class="hero__image"  src="@Url.GetCropUrl(Model, "heroImage", "Desktop")" />*@
    <div class="hero__overlay">
        <div class="hero__overlay hero__overlay--title"> @(!string.IsNullOrWhiteSpace(Model.SEometaData.Title) ? Model.SEometaData.Title : Model.Name) </div>
    </div>
            </section>
    @RenderBody()


