@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@* the fun starts here *@
<!doctype html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    @Html.Partial("~/Views/Partials/_metadata.cshtml")
    @Html.Partial("~/Views/Partials/_favicon.cshtml")
    <link href="~/a/dist/css/styles.min.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("~/Views/Partials/_header.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Partials/_footer.cshtml")
</body>
</html>